body{
    font-family: "Poppins";
}

p{
    margin: 5px;
    padding-top: 20px;
}

.header{
    font-size: x-large;
    color: white;
    background-color: #0072bb;
    padding: 20px;
}

input[type=text], select {
    font-family: "Poppins";
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type= button] {
    font-family: "Poppins";
    width: 50%;
    background-color: #0072bb;
    color: white;
    padding: 14px 0px;
    margin: 8px 25%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #00558b;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 5px 5px;
  }

  .row {
    margin: 0px 0px;
    width: 100%;
  }
  
  .leftColumn {
    width: 50%;
    float: left;
  }

  .rightColumn{
      width: 50%;
      float: right;
  }

  .nameColumn{
    width: 25%;
  }

  .inputColumn{
    width: 90%;
  }

  .result{
    
  }